.title {
  color : #8D8986;
  width: 401px;
  height: 102px;
  letter-spacing: 1rem;
  font-size: 20px;
  opacity:0;

}

.container {
  /* background-color: blue; */

  
}

.card {
  width: 100%;
}

@media (min-width: 1024px) {
  .container {
    /* background-color: green; */

  }
  .invitSentence {
    font-size: 45.4px;

  }
  .date {
    font-size: 45px;
  }
  
  .adress{
    font-size: 45.4px;
  }
}

.invitSentence {
  font-size: 35.4px;
  font-stretch: ultra-expanded;
  opacity:0;
  text-align: center;

}

.date {
  font-size: 18px;
  letter-spacing: 0.3rem;
  font-weight: 900;
  opacity:0;


}

.adress{
  font-size: 18px;
  font-weight: 500;
  opacity:0;
}


.zoomInOutBox {
    
  animation: zoom-in-zoom-out 5s ease;
  animation-fill-mode: forwards;


}

@keyframes zoom-in-zoom-out {
  0% {
    opacity: 0;
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.3, 1.3);

  }
  100% {
    opacity: 1;

    transform: scale(1.2, 1.2);
  }
}

/* animation: 3s infinite alternate slidein; */

.appear1 {
  animation-duration: 3s;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  font-size: 30px;


}

.appear2 {
  animation-duration: 3s;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;

}

.appear3 {
  animation-duration: 3s;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;


}

.appear4 {
  animation-duration: 3s;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;



}
.btn_confirm_invit {
  opacity: 0;
}
.appear5 {
  animation-duration: 1s;
  animation-name: appearLastsl;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;

}



@keyframes appear {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

@keyframes appearLast {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}