/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
} */

.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    transform-style: preserve-3d;
   
}

.flap, .card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backface-visibility: hidden; /* Hide the back face when flipping */
    transition: transform 0.5s ease-in-out;
}

.flap {
    transform-origin: top center;
    clip-path: polygon(2% 0%, 100% -3%, 50% 70%);
    background-color: black;
}

.card {
    transform-origin: bottom center;
    transform: rotateX(180deg);
}

.envelope:hover .flap {
    transform: rotateX(90deg);
}

.envelope:hover .card {
    transform: rotateX(0deg);
}

.zoomInOutBox {
    
    animation: zoom-in-zoom-out 16s ease;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1.1, 1.1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1.1, 1.1);
    }
  }
.title{
  opacity: 0;
  animation: txt-appearance 5s 1s forwards;
   
}

.firstSentence{
  animation: txt-appearance 0s 1.25s forwards;
   
}

.dateAndAdress{
  animation: txt-appearance 0s 1.30s forwards;
   
}
 
@keyframes txt-appearance {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 1
  }
}